
@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column; // Stack children vertically
  justify-content: flex-start; // Align children to the start of the main axis
  align-items: flex-start; // Align children to the start of the cross axis
  background-color: $primary-color;
  background-color: rgba(43, 42, 42, 0.705);
  padding: 1rem; 
  border-radius: 20px;
  height: auto; // Let the container grow with content
  margin: auto; // Center the container
  margin-top: 16rem;
  margin-left: 3rem; // Align the container to the left
  max-width: 18%; // Set a max-width to make it narrower
}

// You might also need to adjust other elements to fit the new container layout
.text {
  max-width: 100%; // Allow text to fill the container
  color: white;
}

.imageContainer {
  max-width: 100%; // Allow image container to fill the container
 display: flex;
  justify-content: center; // Center-align the image within its container
  padding-right: 0; // Remove padding-right
    user-select: none;
}


.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem; /* Add margin to the bottom */
}

.image {
  width: 100%;
  height: auto;
  user-select: none;
  border-radius: 10px;
}

.homeSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/Homepage7.jpg");
  //background-color: $background1-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.taglineContainer {
  flex: 1;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
}

.tagline {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  user-select: none;
}

.catchphrase {
  font-size: 1.5rem;
  user-select: none;
  margin-top: 20px;
}

.phoneNumber {
  text-decoration: underline;
  color: $secondary-color;
  border-radius: 5%;
  font-size: 2rem;
  background-color: rgba(43, 42, 42, 0.705);;
  margin-top: 10px;
}

.buttonContainer {
  margin-top: 60px; /* Adjust margin as needed */
}


.restaurantImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.scheduleButton {
  background-color: $secondary-color;
  border: none;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    outline: 2px solid #f0f0f0;
    outline-offset: -10px;
    border-radius: 20px;
  }
}

@media (max-width: 1475px) {
  .title {
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
  }
  .phoneNumber {
    font-size: 1.4rem;
  }

  .container {
    margin-top: 21rem;
    margin-left: 1rem; // Align the container to the left
    max-width: 18%; // Set a max-width to make it narrower
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center; /* Center-align items */
    background-color: rgba(43, 42, 42, 0.705);
    border-radius: 20px;
    height: auto;
    max-width: 90%;
    margin-left: 2rem;
    margin-top: 10rem;
  }

  .text {
    max-width: 100%;
    padding: 0 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .homeSection {
    background-image: url("/images/Homepage5.jpg");
    background-size: cover; // Ensure the background covers the entire section
    background-repeat: no-repeat;
    background-position: 50% 0%;
  }

  .imageContainer {
    max-width: 100%;
    padding-left: 0; /* Reset padding */
    margin-top: 50px;
    justify-content: center; /* Center-align items */
  }

  .image {
    display: none; /* Hide the image on mobile screens */
  }
}
