.container {
    background-color: white;
}

.h1 {
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
}

.h1Container {
    margin-left: 40%;
    margin-right: 30%;
    align-items: center;
}