@import '../../styles/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background-color: $background1-color;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  height: 10vh;
  position: relative;
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  z-index: 500;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.linksContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 3vw;
  position: relative;
  cursor: pointer;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.navLinkSpecial {
  color: $primary-color;
  text-decoration: none;
  font-size: 1.5rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: $primary-color;
  color: white;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.15);
  z-index: 999;
  min-width: 15rem;
  padding: 0.5rem 0;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownItem {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: $secondary-color;
  }
}

.showDropdown .dropdownContent {
  display: block;
}

.navButtonContainer {
  display: flex;
  justify-content: flex-end;
  height: 50%;
  flex-grow: 1;
}

.navButton {
  background-color: $secondary-color;
  color: white;
  border-radius: 1rem;
  border: none;
  padding: 1rem 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  font-family: 'norwester';

  &:hover {
    opacity: 0.8;
  }
}

.logo {
  height: 12vh;
  width: auto;
}

.logoContainer {
  display: inline-block;
  height: 10vh;
  padding: 0;
  line-height: 0;
}

.mobileMenuToggle {
  display: none;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 1.6rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.hamburgerLine {
  width: 100%;
  height: 0.2rem;
  background-color: black;
  transition: background-color 0.3s;
}

.open .hamburgerLine {
  background-color: $primary-color;
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileNavList {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mobileNavItem {
  margin: 1rem 0;
  width: 100%;
}

.mobileNavLink {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: background-color 0.3s;

  &:hover {
    //background-color: rgba(255, 255, 255, 0.1);
    background-color: $secondary-color;
  }
}

.mobileDropdownItem {
  padding-left: 2rem;
  font-size: 1.1rem;
  margin: 0.3rem 0;
  color: #ccc;
  display: block;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.2s;

  &:hover {
    //background-color: rgba(255, 255, 255, 0.1);
    background-color: $secondary-color;
  }
}

.mobileDropdown {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.mobileDropdown.show {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .navItem {
    margin: 0 2vw;
  }

  .navLink {
    font-size: 1rem;
  }

  .navButton {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .navItem {
    display: none;
  }

  .linksContainer {
    position: static;
    transform: none;
  }

  .mobileMenuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
  }

  .open .hamburgerMenu {
    transform: rotate(90deg);
  }

  .navButton {
    padding: 3vw 4vw;
    font-size: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .navButton {
    margin-right: 10vw;
  }
}
