@import '../../styles/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: $grey-color;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  height: 10vh;
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 1000;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.linksContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 40px;
}

.navLink {
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
  transition: font-size 0.3s;
}

.navLink:hover {
  font-size: 1.4rem;
}

.navLinkSpecial {
  color: $primary-color;
  text-decoration: none;
  position: relative;
  font-size: 1.5rem;
  transition: font-size 0.3s;
}

.navLinkSpecial:hover {
  font-size: 1.7rem;
}

.navButtonContainer {
  display: flex;
  justify-content: flex-end;
  height: 50%;
  //padding: 5%;
  flex-grow: 1;
}

.navButton {
  background-color: $secondary-color;
  color: $primary-color;
  border-radius: 10px;
  border: none;
  padding: 20px 50px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.4rem;
  margin-left: auto;  // Ensures it aligns to the right on desktop
  color: white;
  font-family: 'norwester';

  &:hover {
    //background-color: $primary-color;
    opacity: 80%;
  }}


.logo {
  margin-top: 10%;
  height: 60%;
  width: 60%;
  
  transition: height 0.3s;
  transition: width 0.3s;
}

.logo:hover {
  height: 80%;
  width: 80%;
}

.mobileMenuToggle {
  display: none; /* Hide the mobile menu toggle by default */
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.hamburgerLine {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: background-color 0.3s;
}

.open .hamburgerLine {
  background-color: $primary-color; /* Change the hamburger line color when the mobile menu is open */
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileNavList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.mobileNavItem {
  margin: 10px 0;
}

.mobileNavLink {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.mobileNavLinkSpecial {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: $secondary-color;
}

.navbarMobileLabel {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.4rem; /* Adjust the font size as needed */
  font-weight: bold; /* Add font weight for emphasis */
  list-style-type: none; /* Remove bullet points */
}

.navbarMobileLabel ul {
  margin: 0;
  padding: 0;
  list-style: none; /* Remove bullet points */
}

.logoContainer {
  display: inline-block; /* or 'block' depending on your layout needs */
  width: 100;
  height: 140;
  padding: 0;
  line-height: 0; /* Helps eliminate extra space below the image */
}


@media screen and (max-width: 768px) {
  /* Adjustments for mobile screens */

  .navItem {
    display: none; /* Hide the desktop navigation links on mobile */
  }

  .linksContainer {
    position: static;
    transform: none;
  }

  .mobileMenuToggle {
    display: flex; /* Display the mobile menu toggle on mobile */
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .open .hamburgerMenu {
    transform: rotate(90deg); /* Rotate the hamburger menu icon when the mobile menu is open */
  }

  .open .navItem {
    display: block; /* Display the mobile navigation links when the mobile menu is open */
  }

  .navButton {
    padding: 5% 10%;
    //font-size: 1rem;
    margin: auto auto;  // Centers the button on mobile
  }
}

@media screen and (max-width: 500px) {

  .navButton {
    margin-right: 20%;
    //font-size: 1rem;
    //margin: auto auto;  // Centers the button on mobile
  }
}
