@import '../../styles/variables.scss';

.footer {
  width: 100%;
  background-color: $black-color;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}

.topBar {
  background-color: $light-grey-color;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.awkward {
  font-weight: bold;
}

.logo {
  height: 20px;
  width: 20px;
  margin-left: 4px;
}

.socialMedia {
  background-color: #333;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.socialLink {
  height: 30px;
  margin: 0 1rem;
}

.bottomSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem 2rem;
  background-color: #1a1a1a;
  text-align: left;

  > div {
    flex: 1 1 20rem; // each section can shrink to 20rem
    max-width: 22rem;
    min-width: 16rem;
  }
}


.companyLogo {
  position: relative;
  width: 14rem;
  height: 10rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-left: 10rem;
}

.contactInfo,
.quickLinks,
.mapContainer {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mapContainer {
  aspect-ratio: 1 / 1; // Makes it a square
  width: 100%;
  max-width: 400px; // Adjust as needed
  margin-top: 1rem;


}

.hoursContainer {
  h2 {
    color: $secondary-color;
  }
}


.contactInfo h1,
.quickLinks h2,
.mapContainer h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: $secondary-color;
}

.contactInfo a,
.quickLinks a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.contactInfo a:hover,
.quickLinks a:hover {
  color: $secondary-color;
}

.phoneNumber {
  text-decoration: underline;
  font-weight: bold;
}

.mapEmbed {
  border: 0;
  width: 100%;
  height: 200px;
  border-radius: 10px;

}

@media (max-width: 768px) {
  .bottomSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .companyLogo {
    width: 100px;
    height: 60px;
  }

  .mapEmbed {
    transform: scale(1.3);
    height: 250px;
  }
}


.quickLinksWrapper {
  padding: 2rem 5%;
  background-color: #1a1a1a;
  color: $secondary-color;
  border-top: 1px solid #ccc;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.quickLinksGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.linkColumn {
  display: flex;
  flex-direction: column;
  min-width: 150px;

  a {
    margin: 0.2rem 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.parentLink {
  color: $secondary-color;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.childLink {
  color: white;
  padding-left: 1rem;
  font-size: 0.95rem;
}

