@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  //font-family: 'norwester', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: $black-color;
  color: $text-color;
  font-weight: bold;
  min-height: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

/* Hide the blinking cursor (caret) */
input, textarea, select {
  caret-color: black;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05); // Adjust scale as needed for subtlety
}

.pageFade {
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {

  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

@font-face {
  font-family: 'Shrikhand';
  src: url('/fonts/Shrikhand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'norwester';
  src: url('/fonts/norwester.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
