$primary-color: #1ba3dd;
$secondary-color: #f0512a;
$text-color: #000000;
$text-color-alt: #ffffff;
$light-grey-color: #555;
$grey-color: #333;
$black-color: #000;
$background1-color: #e2e2e2;
$background2-color: $secondary-color;
