$primary-color: #002868;
$secondary-color: #bf0a30;
$text-color: #000000;
$text-color-alt: #ffffff;
$light-grey-color: #555;
$dark-grey-color: #333;
$grey-color: #333;
$black-color: #000;
//$background1-color: #e2e2e2;
$background1-color: #f8f3e8;
$background2-color: $secondary-color;
